@charset "UTF-8";

 
.icon-feather:before { content: '\2712'; } /* '✒' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-popup:before { content: '\e74c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-graduation-cap:before { content: '🎓'; } /* '\1f393' */
.icon-monitor:before { content: '💻'; } /* '\1f4bb' */
.icon-doc-text:before { content: '📄'; } /* '\1f4c4' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */