@font-face {
  font-family: 'Pluto Sans Cond Light';
  src: url("/fonts/pluto-sans.eot");
  src: url("/fonts/pluto-sans.eot?#iefix") format("embedded-opentype"), url("/fonts/pluto-sans.woff") format("woff"), url("/fonts/pluto-sans.ttf") format("truetype"); }
body {
  margin: 0;
  font-family: "rooney-web-1", "rooney-web-2", "Lora", Georgia, serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8em;
  color: #434343;
  background: #fff; }
  body.home nav a {
    color: #fff; }
    body.home nav a:hover {
      color: #f194c9; }
  body.home footer {
    background: #0c2b3c; }
    body.home footer ul a {
      color: #36b5ab; }
      body.home footer ul a:hover {
        color: #f194c9; }

.sprite {
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */ }

#earthbounded {
  width: 54px;
  height: 58px;
  position: absolute;
  top: 828px;
  left: 50%;
  margin-left: -27px;
  margin-top: -29px;
  display: block; }
  #earthbounded.left {
    background-image: url("/images/index/sprite-left.png");
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */ }
  #earthbounded.right {
    background-image: url("/images/index/sprite-right.png");
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */ }
  #earthbounded.walk {
    background-image: url("/images/bysusanlin-earthbound.gif");
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */ }

#ufo {
  width: 88px;
  height: 86px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -44px;
  margin-top: -43px; }
  #ufo.flying {
    background-image: url("/images/index/ufo.png");
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */ }

a {
  color: #447f9c;
  text-decoration: none; }
  a:hover {
    color: #f194c9; }
  a:active {
    position: relative;
    top: 1px;
    border: 0; }

header {
  background: #f5f4f1;
  text-align: center; }
  header img {
    margin: 15px 25px 10px; }

nav {
  position: fixed;
  top: 10px;
  left: 0; }
  nav ul {
    text-align: center; }
    nav ul li {
      list-style-type: none;
      line-height: 32px; }
    nav ul a {
      font-family: "Pluto Sans Cond Light", Helvetica, Arial, sans-serif; }

#onett {
  background-image: url("/images/index/onett.png");
  background-position: top center;
  height: 1730px;
  width: 100%;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */ }
  #onett #trees {
    background-image: url("/images/index/z-trees.png");
    background-position: bottom center;
    height: 1730px;
    width: 100%;
    position: absolute;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */ }

#saturn {
  background-image: url("/images/index/saturn-valley.png");
  background-position: center center;
  height: 2300px;
  width: 100%;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */ }
  #saturn #valley {
    background-image: url("/images/index/z-saturn.png");
    background-position: center center;
    height: 950px;
    width: 100%;
    position: absolute;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */ }
  #saturn #distorter {
    height: 2300px;
    width: 100%;
    position: absolute; }
    #saturn #distorter.phased1 {
      background-image: url("/images/index/z-ufo1.png");
      background-position: center center;
      image-rendering: -moz-crisp-edges;
      /* Firefox */
      image-rendering: -o-crisp-edges;
      /* Opera */
      image-rendering: -webkit-optimize-contrast;
      /* Webkit (non-standard naming) */
      image-rendering: pixelated;
      -ms-interpolation-mode: nearest-neighbor;
      /* IE (non-standard property) */ }
    #saturn #distorter.phased2 {
      background-image: url("/images/index/z-ufo2.png");
      background-position: center center;
      image-rendering: -moz-crisp-edges;
      /* Firefox */
      image-rendering: -o-crisp-edges;
      /* Opera */
      image-rendering: -webkit-optimize-contrast;
      /* Webkit (non-standard naming) */
      image-rendering: pixelated;
      -ms-interpolation-mode: nearest-neighbor;
      /* IE (non-standard property) */ }

#pinkcloud {
  background-image: url("/images/index/sky.png");
  background-position: center center;
  width: 100%;
  height: 1840px;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */ }
  #pinkcloud #clouds {
    background-image: url("/images/index/z-clouds.png");
    background-position: center center;
    height: 1840px;
    width: 100%;
    position: absolute;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */ }

#moonside {
  width: 100%;
  height: 1434px;
  background-image: url("/images/index/moonside.png");
  background-position: center center;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */ }
  #moonside #ending {
    height: 580px;
    width: 100%;
    position: absolute; }
    #moonside #ending.show {
      background-image: url("/images/index/ending.png");
      background-position: center center;
      image-rendering: -moz-crisp-edges;
      /* Firefox */
      image-rendering: -o-crisp-edges;
      /* Opera */
      image-rendering: -webkit-optimize-contrast;
      /* Webkit (non-standard naming) */
      image-rendering: pixelated;
      -ms-interpolation-mode: nearest-neighbor;
      /* IE (non-standard property) */ }

#work div {
  padding: 8% 20% 10%;
  border-bottom: 1px dotted #dadee2; }
  #work div:last-child {
    border-bottom: 0; }
  #work div p {
    max-width: 500px;
    font-size: 16px;
    font-weight: 300; }
  #work div img {
    max-width: 100%; }
#work h2 {
  font-size: 32px;
  font-family: "Pluto Sans Cond Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 48px; }
#work .intro {
  padding: 3% 20% 6%; }

#talks div {
  padding: 3% 20% 6%;
  border-bottom: 1px dotted #dadee2; }
  #talks div:last-child {
    border-bottom: 0; }
  #talks div p {
    max-width: 500px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28.8px; }
  #talks div img {
    max-width: 100%; }
#talks h2 {
  font-size: 32px;
  font-family: "Pluto Sans Cond Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 48px; }
#talks .video .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  #talks .video .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 1200px; }
#talks .speakerdeck-wrapper {
  padding-left: 0; }

#about div {
  padding: 3% 20% 6%;
  border-bottom: 1px dotted #dadee2; }
  #about div:last-child {
    border-bottom: 0; }
  #about div p {
    max-width: 500px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28.8px; }
#about h2 {
  font-size: 32px;
  font-family: "Pluto Sans Cond Light", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 48px; }

.clear {
  margin: 0;
  padding: 0;
  clear: both; }

footer {
  background: #f5f4f1;
  color: #fff;
  font-family: "Pluto Sans Cond Light", Helvetica, Arial, sans-serif;
  padding: 2em 0 1.5em; }
  footer ul li {
    float: left;
    display: block;
    list-style-type: none;
    width: 33.33%;
    height: 50px; }
  footer .footnote {
    margin: 2em 0 0 40px;
    font-family: "Pluto Sans Cond Light", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #afb9c0; }

.typeHighlight {
  color: #f194c9 !important; }

.typeLowlight {
  color: #afb9c0 !important; }

@media screen and (max-width: 500px) {
  nav {
    display: none; }

  #about div, #work div, #talks div {
    padding: 8% 10% 10%; }

  #about .intro, #work .intro, #talks .intro {
    padding: 3% 10% 6%; }

  footer ul li {
    width: 100%; } }

/*# sourceMappingURL=screen.css.map */
