* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Pluto Sans Cond Light";
  src: url("../fonts/pluto-sans.eot");
  src: url("../fonts/pluto-sans.eot?#iefix") format("embedded-opentype"), url("../fonts/pluto-sans.woff") format("woff"), url("../fonts/pluto-sans.ttf") format("truetype"); }

body {
  background: white;
  margin: 0;
  padding: 0;
  color: #555555;
  font-size: 16px;
  font-family: "Pluto Sans Cond Light", sans-serif;
  text-align: center;
  line-height: 32px;
  border-left: 20px solid white;
  border-right: 20px solid white; }

h1 {
  font-size: 48px;
  line-height: 96px; }

h2 {
  font-size: 32px;
  line-height: 48px; }

h3, .h3 {
  font-size: 22px;
  line-height: 66px; }

h6, .h6 {
  font-size: 14px;
  line-height: 21px; }

.h5 {
  font-size: 16px; }

.h7 {
  font-size: 12px; }

.typeLowlight {
  color: #aeb8be; }

.typeHighlight {
  color: #21dcc7; }

.brandFont {
  font-family: "Pluto Sans Cond Light", sans-serif !important; }

b {
  color: #f25f60; }

p {
  max-width: 500px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #21dcc7;
  border-bottom: 1px dotted #d8dde0;
  padding-bottom: 4px; }
  a:hover {
    color: #f25f60;
    border-bottom: 1px dotted #f25f60; }
  a:active {
    position: relative;
    top: 1px;
    border: 0; }

hr {
  border: 0;
  border-bottom: 1px dotted #d8dde0; }

header {
  margin: 30px auto; }
  header p {
    width: 300px;
    font-size: 14px; }

#content {
  margin: 25px auto 35px;
  max-width: 900px; }

li {
  float: left;
  padding: 20px;
  width: 297px; }
  li p {
    text-align: left;
    width: 90%; }
    li p a {
      text-transform: uppercase;
      font-size: 12px; }

footer {
  font-size: 12px;
  color: #aeb8be;
  padding: 45px 0 60px; }

.heart {
  color: #f25f60; }
  .heart a {
    color: #f25f60;
    border-bottom: 0; }

.clear {
  margin: 0;
  padding: 0;
  clear: both; }

::selection {
  background: #21dcc7;
  color: white;
  text-shadow: 0 0 0; }

::-moz-selection {
  background: #21dcc7;
  color: white;
  text-shadow: 0 0 0; }
