////////////////////////////
// CSS for design by susan
// Sassy
//////////

$h1: 48px
$h2: 32px
$h3: 18px
$h5: 16px
$h6: 14px
$h7: 12px

$p: 14px

$sans-serif: "Pluto Sans Cond Light", sans-serif
$icon: "Entypo"
$icon-social: "Entypo Social"

$blacker: #111
$black: #555
$mint: #00bdff
$mint: #21dcc7
$lightMint: #aeeed9
$coral: #f25f60
$grey: #aeb8be
$beige: #f5f4f1
$frenchGrey: #fffdf5
$white: #fff

$whiteTextShadow: 0 1px 0 $white
$dottedBorder: 1px dotted lighten($grey, 15%)

@font-face 
	font-family: 'Pluto Sans Cond Light'
	src: url('../fonts/pluto-sans.eot')
	src: url('../fonts/pluto-sans.eot?#iefix') format('embedded-opentype'), url('../fonts/pluto-sans.woff') format('woff'), url('../fonts/pluto-sans.ttf') format('truetype')

@mixin transition($duration, $property: all, $delay:0) 
	transition: $duration $property
	-webkit-transition: $duration $property
	-moz-transition: $duration $property
	-ms-transition: $duration $property
	-o-transition: $duration $property
	transition-delay: $delay
	-webkit-transition-delay: $delay
	-moz-transition-delay: $delay
	-ms-transition-delay: $delay
	-o-transition-delay: $delay


body 
	background: $white
	margin: 0
	padding: 0
	color: $black
	font-size: $p
	font-family: $sans-serif
	text-align: center
	line-height: 28px

h1 
	font-size: $h1
	line-height: 36px

h2 
	font-size: $h2
	line-height: $h1

h3 
	font-size: $h3
	line-height: $h1


h6 
	font-size: $h6
	color: darken($grey, 20%)
	line-height: $h2
	text-align: left
	width: 500px
	margin: 0 auto 20px

.h5 
	font-size: $h5

.h7 
	font-size: $h7

.typeLowlight 
	color: $grey

b 
	color: #000

a 
	text-decoration: none
	color: $mint

	&:hover 
		color: $coral	

	&:active 
		position: relative
		top: 1px 
		border: 0 

a.btn 

	font-size: $h3
	color: $white
	text-shadow: 0 0 0
	background: $mint
	box-shadow: 0 3px 0 darken($mint, 10%)
	border-radius: 3px
	padding: 20px 30px 19px
	cursor: pointer
	@include transition(0.3s, background)

	&:hover 
		background: saturate(lighten($mint, 10%), 10%)

	&:active 
		position: relative
		top: 3px
		border: 0
		box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.15)

hr 
	border: 0
	border-bottom: $dottedBorder


header 
	margin: 19px auto 0
	width: 700px
	height: 170px
	padding-bottom: 42px
	border-bottom: $dottedBorder
	background: url(../images/bysusanlin-totoro.png) no-repeat center center
	@include transition(0.2s, opacity)

	&:hover 
		opacity: 0.8

#subnav 

	width: 100%
	background: $white

	ul 
		margin: 0 auto
		width: 500px
		background: $white
		height: 36px
		padding-top: 8px
		border-bottom: $dottedBorder

		li 
			float: left
			margin-right: 20px

		li:last-child 
			float: right
			margin-right: 0
			
			.go-top 
				border-radius: 10px
				text-decoration: none
				color: $white
				background-color: $mint
				padding: 8px 10px 7px
				display: none
				opacity: 0.5
				font-size: $h6

				&:hover
					opacity: 1.0

				&:active
					position: relative
					top: 1px
					border: 0

.sticky 
	position: fixed
	z-index: 401
	top: 0

img
	max-width: 100%

#content 

	margin: 0 auto
	text-align: left

	section 

		width: 500px
		margin: 40px auto
		padding-bottom: 20px
		border-bottom: $dottedBorder
	
		p 
			font-family: $sans-serif
			font-size: $p
			width: 500px
			margin-bottom: 10px
			

		ul 
			float: left
			width: 33%
		

	

	.piece 

		border-bottom: $dottedBorder
		padding: 40px 0 60px
		text-align: center

		.work 
			margin: 20px auto
			padding: 0 20px
			width: 700px

		p 
			width: 500px
			margin: 0 auto
			text-align: left
		

		p.button 
			font-weight: 300
			margin: 30px auto 70px
		

	

	.dark 
		background: $blacker
		color: $grey
		line-height: 30px

		p 
			margin-top: 10px
		
footer 
	font-size: $h7
	color: $grey
	margin-bottom: 20px

.heart 
	color: $coral

.clear 
	margin: 0
	padding: 0
	clear: both

::selection 
	background: $mint
	color: $white
	text-shadow: 0 0 0

::-moz-selection 
	background: $mint
	color: $white
	text-shadow: 0 0 0

///////////////////////////////////////////
//responsibility! I mean, responsivibility!

@media screen and (max-width:500px) 

	header, #content section, #content .piece p, #content section p 
		width: 300px
		@include transition(0.3s, width)
	
	h3 
		line-height: $h2
		margin-bottom: 10px

	#subnav 
		visibility: hidden
		margin-top: -50px

	#content .piece .work
		width: 320px