//type sizes
$h0: 60px;
$h1: 48px;
$h2: 32px;
$h3: 24px;
$h4: 21px;
$h5: 16px;
$h6: 14px;
$h7: 12px;

$p: 16px;

//type faces
$plutosans: "Pluto Sans Cond Light", Helvetica, sans-serif;
$rooney: "rooney-web-1","rooney-web-2", "Lora", Georgia, serif

//colors
$blacker: #111;
$black: #434343;
$blue: #00bdff;
$mint: #21dcc7;
$lightMint: #aeeed9;
$coral: #f25f60;
$lightGrey: #e7eaeb;
$beige: #f5f4f1;
$frenchGrey: #fffdf5;
$white: #fff;

//16bits
$blueblack: #0c2b3c;
$denim: #30617b;
$jean: #447f9c;
$teal: #36b5ab;
$coldGrey: #708792;
$grey: #afb9c0;
$vanilla: #fff7dc;
$blossom: #f6c1c2;
$canopy: #376b15;
$overgrowth: #488f0c;
$leaf: #59ab27;
$gold: #c5a84e;
$buff: #e3d2a1;
$orchid: #d876ad;
$flora: #f194c9;


//color use assets
$whiteTextShadow: 0 1px 0 $white;
$dottedBorder: 1px dotted lighten($grey, 15%);

//pluto sans pls
@font-face {
	font-family: 'Pluto Sans Cond Light';
	src: url('/fonts/pluto-sans.eot');
	src: url('/fonts/pluto-sans.eot?#iefix') format('embedded-opentype'), url('/fonts/pluto-sans.woff') format('woff'), url('/fonts/pluto-sans.ttf') format('truetype');
}
//I use this mixin a lot
@mixin transition($duration, $property: all, $delay:0) {
	transition: $duration $property;
	-webkit-transition: $duration $property;
	-moz-transition: $duration $property;
	-ms-transition: $duration $property;
	-o-transition: $duration $property;
	transition-delay: $delay;
	-webkit-transition-delay: $delay;
	-moz-transition-delay: $delay;
	-ms-transition-delay: $delay;
	-o-transition-delay: $delay;
}
body {
	margin: 0;
	font-family: $rooney;
	font-size: $p;
	font-weight: 300;
	line-height: 1.8em;
	color: $black;
	background: $white;

	&.home {
		nav a {
			color: $white; 
		}
	}

}

#earthbounded {
	width: 54px;
	height: 58px;
	//position: fixed;
	position: absolute;
	//top: 50%;
	top: 828px;
	left: 50%;
	margin-left: -27px;
	margin-top: -29px;
	display: block;

	&.fp {
		background: url('/images/sprite-fp.png');
	}

	&.left {
		background: url('/images/sprite-left.png');
	}

	&.right {
		background: url('/images/sprite-right.png');
	}

}

#ufo {
	width: 88px;
	height: 86px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -44px;
	margin-top: -43px;

	&.flying {
		background: url('/images/ufo.png');
	}

}

a {
	color: $teal;
	text-decoration: none;

	&:hover {
		color: $flora;
	}

	&:active {
		position: relative;
		top: 1px;
		border: 0;
	}
}

header {
	background: $beige;
	text-align: center;

	img {
		margin: 15px 25px 10px;
	}

}

nav {
		//background: url('/images/nav.png');
		//height: 134px;
		//width: 252px;
		position: fixed;
		top: 10px;
		left: 0;

		ul {
			text-align: center;

			a {
				font-family: $plutosans;
				text-transform: uppercase;
				font-size: $h7;

				li {
					list-style-type: none;
				}
			}
		}

	}

	#onett {
		background: url('/images/onett.png') top center;
		height: 1730px;
		width: 100%;

		#trees {
			background: url('/images/z-trees.png') bottom center;
			height: 1730px;
			width: 100%;
			position: absolute;
		}

	}

	#saturn {
		background: url('/images/saturn-valley.png') center center;
		height: 2300px;
		width: 100%;

		#valley {
			background: url('/images/z-saturn.png') center center;
			height: 950px;
			width: 100%;
			position: absolute;
		}		

		#distorter {
			height: 2300px;
			width: 100%;
			position: absolute;

			&.phased1 {
				background: url('/images/ufo1.png') center center;
			}

			&.phased2 {
				background: url('/images/ufo2.png') center center;
			}			

			&.phased3 {
				background: url('/images/ufo3.png') center center;
			}

		}

	}

	#lostworld {
		background: url('/images/lostworld.png') center center;
		width: 100%;
		height: 100px;
	}

	#pinkcloud {
		background: url('/images/sky.png') center center;
		width: 100%;
		height: 1840px;

		#clouds {
			background: url('/images/z-clouds.png') center center;
			height: 1840px;
			width: 100%;
			position: absolute;
		}

	}

	#moonside {
		width: 100%;
		height: 1434px;
		background: url('/images/moonside.png') center center;

		#ending {
			height: 580px;
			width: 100%;
			position: absolute;

			&.show {
				background: url('/images/ending.png') center center;
			}

		}

	}

	//////////////////////////////////////////////////////////
	// work

	#work {

		div {
			padding: 8% 20% 10%;
			border-bottom: $dottedBorder;

			&:last-child {
				border-bottom: 0;
			}

			p {
				max-width: 500px;
				font-size: $p;
				font-weight: 300;
			}

			img {
				max-width: 100%;
			}

		}

		h2 {
			font-size: $h2;
			font-family: $plutosans;
			font-weight: 300;
			line-height: $h2*1.5;
		}

		.intro {
			padding: 3% 20% 6%;
		}

		.opentable {
		}

		.blippy {
		}		

		.beyond {
		}

		.trulia {
		}

		.styleguides {
		}

		.library {
		}

		.daily {
		}

		.articles {
		}

		.sketchnotes {
		}

		.old {
		}

	}

	//////////////////////////////////////////////////////////
	// talks

	#talks {

		div {
			padding: 3% 20% 6%;
			border-bottom: $dottedBorder;

			&:last-child {
				border-bottom: 0;
			}

			p {
				max-width: 500px;
				font-size: $p;
				font-weight: 300;
				line-height: $p*1.8;
			}

			img {
				max-width: 100%;
			}

		}

		h2 {
			font-size: $h2;
			font-family: $plutosans;
			font-weight: 300;
			line-height: $h2*1.5;
		}

		.intro {
		}

		.video {

			.video-wrapper {
				position: relative;
					padding-bottom: 56.25%; //16:9 aspect ratio
					padding-top: 25px;
					height: 0;

					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}

				}
			}

		.speakerdeck-wrapper {
			padding-left: 0;
		}

	} //talks

	.clear {
		margin: 0;
		padding: 0;
		clear: both;
	}

	footer {

		background: $blueblack;
		color: $white;
		font-family: $plutosans;
		padding: 2em 0 1.5em;

		ul {

			a {
				color: $teal;
			}

			li {
				float: left;
				display: block;
				list-style-type: none;
				width: 33.33%;
				height: 50px;
			}
		}

		.footnote {
			margin: 2em 0 0 40px;
			font-family: $plutosans;
			font-size: $h7;
			color: $grey;
		}

	}

	.overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $blueblack;
		filter:alpha(opacity=95);
		-moz-opacity:0.95;
		-khtml-opacity: 0.95;
		opacity: 0.95;
		z-index: 10000;
	}

	.about {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10001;
		text-align: centered;

		#closeOverlay {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: $h1;
		}

		p {
			margin: 9% auto 15%;
			padding: 0 10%;
			max-width: 500px;
			color: $white;
		}

	}

	.typeHighlight {
		color: $flora !important;
	}

	@media screen and (max-width:500px) {

		.about {
			overflow: auto; //make bio scroll
		}

		nav {
			display: none; //hide it
		}

		#work div, #talks div {
			padding: 8% 10% 10%;
		}

		#work .intro, #talks .intro {
			padding: 3% 10% 6%;
		}

		footer ul li {
			width: 100%;
		}

	}

	
