@font-face {
  font-family: 'Pluto Sans Cond Light';
  src: url("/fonts/pluto-sans.eot");
  src: url("/fonts/pluto-sans.eot?#iefix") format("embedded-opentype"), url("/fonts/pluto-sans.woff") format("woff"), url("/fonts/pluto-sans.ttf") format("truetype"); }
body {
  margin: 0;
  font-family: "rooney-web-1", "rooney-web-2", "Lora", Georgia, serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8em;
  color: #434343;
  background: #fff; }
  body.home nav a {
    color: #fff; }

#earthbounded {
  width: 54px;
  height: 58px;
  position: absolute;
  top: 828px;
  left: 50%;
  margin-left: -27px;
  margin-top: -29px;
  display: block; }
  #earthbounded.fp {
    background: url("/images/sprite-fp.png"); }
  #earthbounded.left {
    background: url("/images/sprite-left.png"); }
  #earthbounded.right {
    background: url("/images/sprite-right.png"); }

#ufo {
  width: 88px;
  height: 86px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -44px;
  margin-top: -43px; }
  #ufo.flying {
    background: url("/images/ufo.png"); }

a {
  color: #36b5ab;
  text-decoration: none; }
  a:hover {
    color: #f194c9; }
  a:active {
    position: relative;
    top: 1px;
    border: 0; }

header {
  background: #f5f4f1;
  text-align: center; }
  header img {
    margin: 15px 25px 10px; }

nav {
  position: fixed;
  top: 10px;
  left: 0; }
  nav ul {
    text-align: center; }
    nav ul a {
      font-family: "Pluto Sans Cond Light", Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 12px; }
      nav ul a li {
        list-style-type: none; }

#onett {
  background: url("/images/onett.png") top center;
  height: 1730px;
  width: 100%; }
  #onett #trees {
    background: url("/images/z-trees.png") bottom center;
    height: 1730px;
    width: 100%;
    position: absolute; }

#saturn {
  background: url("/images/saturn-valley.png") center center;
  height: 2300px;
  width: 100%; }
  #saturn #valley {
    background: url("/images/z-saturn.png") center center;
    height: 950px;
    width: 100%;
    position: absolute; }
  #saturn #distorter {
    height: 2300px;
    width: 100%;
    position: absolute; }
    #saturn #distorter.phased1 {
      background: url("/images/ufo1.png") center center; }
    #saturn #distorter.phased2 {
      background: url("/images/ufo2.png") center center; }
    #saturn #distorter.phased3 {
      background: url("/images/ufo3.png") center center; }

#lostworld {
  background: url("/images/lostworld.png") center center;
  width: 100%;
  height: 100px; }

#pinkcloud {
  background: url("/images/sky.png") center center;
  width: 100%;
  height: 1840px; }
  #pinkcloud #clouds {
    background: url("/images/z-clouds.png") center center;
    height: 1840px;
    width: 100%;
    position: absolute; }

#moonside {
  width: 100%;
  height: 1434px;
  background: url("/images/moonside.png") center center; }
  #moonside #ending {
    height: 580px;
    width: 100%;
    position: absolute; }
    #moonside #ending.show {
      background: url("/images/ending.png") center center; }

#work div {
  padding: 8% 20% 10%;
  border-bottom: 1px dotted #dadee2; }
  #work div:last-child {
    border-bottom: 0; }
  #work div p {
    max-width: 500px;
    font-size: 16px;
    font-weight: 300; }
  #work div img {
    max-width: 100%; }
#work h2 {
  font-size: 32px;
  font-family: "Pluto Sans Cond Light", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 48px; }
#work .intro {
  padding: 3% 20% 6%; }

#talks div {
  padding: 8% 20% 6%;
  border-bottom: 1px dotted #dadee2; }
  #talks div:last-child {
    border-bottom: 0; }
  #talks div p {
    max-width: 500px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28.8px; }
  #talks div img {
    max-width: 100%; }
#talks h2 {
  font-size: 32px;
  font-family: "Pluto Sans Cond Light", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 48px; }
#talks .intro {
  padding: 3% 20% 6%; }
#talks .video .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  #talks .video .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
#talks .speakerdeck-wrapper {
  padding-left: 0; }

.clear {
  margin: 0;
  padding: 0;
  clear: both; }

footer {
  background: #0c2b3c;
  color: #fff;
  font-family: "Pluto Sans Cond Light", Helvetica, sans-serif;
  padding: 2em 0 1.5em; }
  footer ul a {
    color: #36b5ab; }
  footer ul li {
    float: left;
    display: block;
    list-style-type: none;
    width: 33.33%;
    height: 50px; }
  footer .footnote {
    margin: 2em 0 0 40px;
    font-family: "Pluto Sans Cond Light", Helvetica, sans-serif;
    font-size: 12px;
    color: #afb9c0; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c2b3c;
  filter: alpha(opacity=95);
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  opacity: 0.95;
  z-index: 10000; }

.about {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  text-align: centered; }
  .about #closeOverlay {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 48px; }
  .about p {
    margin: 9% auto 15%;
    padding: 0 10%;
    max-width: 500px;
    color: #fff; }

.typeHighlight {
  color: #f194c9 !important; }

@media screen and (max-width: 500px) {
  .about {
    overflow: auto; }

  nav {
    display: none; }

  #work div, #talks div {
    padding: 8% 10% 10%; }

  #work .intro, #talks .intro {
    padding: 3% 10% 6%; }

  footer ul li {
    width: 100%; } }

/*# sourceMappingURL=screen.css.map */
