{% include '_tpls/header.html' %}
	
	<title>Susan &times; Talks</title>

</head>

<body>

	<div id="talks">
		
		<div class="intro">

			<h2>
				Talks
			</h2>

			<p>
				I would like to share more of work I've been a part of. If you'd like to work together for your event: bysusanlin at gmail.
			</p>

			<p>
				Past Talks:
				<li> IXDA SF &mdash; <a href="http://ixdasf.ning.com/events/designdoing">Speaking the Code</a> </li>

				<li> Thoughtbot Product Design Talks &mdash; <a href="http://www.eventbrite.com/e/taco-tuesdays-a-product-design-talk-series-hosted-by-thoughtbot-tickets-11179142115"> Process is Ugly</a> </li>

				<li> Carnegie Mellon University &mdash; <a href="http://sketch.bysusanlin.com/post/45977847470/speaking-with-the-cmu-bxa-panel"> BXA alumni panel</a> </li>

				<li> Academy of Arts &mdash; Guest Lecture for Visual Design Studio </li>

				<li> #DesignTalk &mdash; <a href="http://padlet.com/norisjavier/designtalk"> Virtual panel on Twitter</a> </li>

			</p>

		</div>

		<div class="video">

			<p> 
				Speaking the Code &mdash; Video &amp; Slides
			</p>

			<div class="video-wrapper">
				<iframe width="500" height="375" src="//www.youtube.com/embed/KWPnozbp4us" frameborder="0" allowfullscreen></iframe>
			</div>

			<br>

			<div class="speakerdeck-wrapper">
				<script async class="speakerdeck-embed" data-id="e894bcf0e2ee01302bc5765f3158560b" data-ratio="1.29456384323641" src="//speakerdeck.com/assets/embed.js" width="500"></script>
			</div>

		</div> <!-- video -->

	</div> <!--talks-->

{% include '_tpls/nav.html' %}
{% include '_tpls/footer.html' %}