{% include '_tpls/header.html' %}
{% include '_tpls/nav.html' %}

	<div id="content">

		<div class="about">			

			<img src="../images/bysusanlin-speaking.jpg">

			<h3>
				Talks
			</h3>

			<p>
				I'm interested in speaking about process, specifically about styleguides and CSS. Previously, I've presented the value of creating and maintaining a component library.
			</p>

			<ul>

				Experience
				
				<li> IXDA San Francisco: <a href="http://ixdasf.ning.com/events/designdoing">Speaking the Code</a>

				<li> Thoughtbot Product Design Talks: <a href="http://www.eventbrite.com/e/taco-tuesdays-a-product-design-talk-series-hosted-by-thoughtbot-tickets-11179142115"> Process is Ugly</a>

				<li> Carnegie Mellon: <a href="http://sketch.bysusanlin.com/post/45977847470/speaking-with-the-cmu-bxa-panel"> BXA alumni panel</a>

				<li> Academy of Arts: Guest Lecture for Visual Design Studio

			</ul>

			<hr>

			<br>

			<div class="video-wrapper">
				<iframe width="500" height="375" src="//www.youtube.com/embed/KWPnozbp4us" frameborder="0" allowfullscreen></iframe>
			</div>

			<br>

			<script async class="speakerdeck-embed" data-id="e894bcf0e2ee01302bc5765f3158560b" data-ratio="1.29456384323641" src="//speakerdeck.com/assets/embed.js" width="500"></script>

			<h3>Contact</h3>

			<p>
				If you're interested in having me speak: bysusanlin at gmail. &#10052;
			</p>

		</div> <!-- about -->

	</div> <!-- content -->

{% include '_tpls/mobnav.html' %}
{% include '_tpls/footer.html' %}
