{% include '_tpls/head.html' %}

<title>Susan &times; About</title>

</head>

<body>

	<div class="container">

		{% include '_tpls/header.html' %}

		<div class="intro">

			<h2>
				About
			</h2>

			<p>
				Hello World; Susan is a Product Designer at <a href="http://teamtreehouse.com/engineering">Treehouse</a> and an Artist, primarily painting in watercolor. She is currently traveling and working remotely around the world.
      </p>

      <p>
				Previously, she <a href="/talks">built styleguides</a> in addition to user experiences at OpenTable and Trulia. She studied <a href="https://www.hcii.cmu.edu/academics/hci-undergraduate/accelerated-masters">HCI at Carnegie Mellon.</a> She believes the best technology designers are able to code and push their own pixels.
      </p>

      <p>
				She illustrates. You may have seen <a href="http://sketch.bysusanlin.com/tagged/sketchnotes">her sketchnotes.</a> She paints many <a href="https://instagram.com/explore/tags/linwatercolorforest/">watercolor trees</a> and is inspired by Studio Ghibli. She believes delibrate practice is the key to a successful art practice.
      </p>

      <br>

      <p>
        Interviews: <br>
        <ul>
          <li>
            <a href="http://spec.fm/podcasts/design-details/22326">Design Details Podcast</a> &mdash; 86: Adult Recess feat. Susan Lin
          </li>
          <li>
            <a href="http://helloflo.com/susan-lin-proves-you-can-pursue-design-and-coding-at-the-same-time/">HelloFlo Blog</a> &mdash; Susan Lin Proves You Can Pursue Design and Coding at the Same Time
          </li>
          <li>
            <a href="https://usesthis.com/interviews/susan.lin">The Set-up</a> &mdash; What do people use to get stuff done?
          </li>
          <li>
            <a href="http://betwixt.is/delighted-by/designer-miniviews-susan-lin">Betwixt Mini-interview</a> &mdash; Interview with Susan Lin
          </li>
        </ul>
      </p>

      <br>

      <p>
        Art Shows &amp; Engagements: <br>
        <ul>
          <li>
            <a href="https://www.facebook.com/teaspoonsanfrancisco/">Art on display at Teaspoon SF</a> &mdash;
              San Francisco, CA. <span class="typeNums">Now.</span>
          </li>
          <li>
            <a href="http://www.behindthemuseumcafe.com/gallery.html">Show at Behind the Museum Cafe</a> &mdash;
              Portland, OR. <span class="typeNums">3/1/16-4/30/16.</span>
          </li>
          <li>
            <a href="https://www.facebook.com/events/1580301958953195/?active_tab=posts">Group Show at Coffee Shop</a> &mdash; Walnut Creek, CA. <span class="typeNums">4/7/16.</span>
          </li>
          <li>
            <a href="http://www.alternativepressexpo.com/">Booth at Alternative Press Expo</a> &mdash; San Jose, CA. <span class="typeNums">10/3/15-10/4/15.</span>
          </li>
        </ul>
      </p>

      <br>

      <p>
				Elsewhere on the internet: <br>
				<a href="http://sketch.bysusanlin.com">Blog</a> |
				<a href="http://instagram.com/susanl">Instagram</a> |
				<a href="http://twitter.com/bysusanlin">Twitter</a> |
				<a href="http://pinterest.com/susanl/pins">Pinterest</a> |
				<a href="http://dribbble.com/bysusanlin">Dribbble</a> |
				<a href="http://codepen.io/bysusanlin">CodePen</a> |
				<a href="http://patreon.com/susan">Patreon</a>
			</p>

		</div> <!-- intro -->

		<div>

			<br>
			<img src="/images/about/bysusanlin.tattoo.jpg">
			<br>

			<p>
				I drafted, designed, and coded this bit of the internet. Yes, <a href="/">the landing page</a> is fanart of Earthbound.
				<br><br>
				<a href="http://sketch.bysusanlin.com/tagged/pixel-art">See the pixel artwork process.</a>
				<br>
				<a href="https://github.com/bysl/bysl.github.io">View the source code on Github.</a>
			</p>
		</div>

	</div> <!--about-->


{% include '_tpls/nav.html' %}
{% include '_tpls/footer.html' %}
