{% include '_tpls/header.html' %}
{% include '_tpls/nav.html' %}


	<div id="content">

		<div class="about">			

			<img src="../images/mentions.png">

			<h3>
				Highlights
			</h3>

			<ul>

				Watercolor

				<li> Featured post on Medium <a href="https://twitter.com/Medium/status/507981746038509568">The 1000th Cut</a>

				<li> Collaboration with designer Jon Bell <a href="https://medium.com/@ienjoy/designing-while-shipping-1ed17f9200ca">Designing while Shipping</a>

				<li> Sticky Jots <a href="http://blog.stickyjots.com/post/58338157896/lovely-watercolor-wireframes-done-by-susan-lin">Watercolor Wireframes</a>

			</ul>
			<ul>

				Sketchnotes

				<li> Accel Partners <a href="http://theaccelblog.squarespace.com/?tag=Accel+Design+Conference">Accel Design Conf</a>
				
				<li> Asana Town Hall <a href="http://blog.asana.com/2012/11/design-town-hall/">Skeumorphism vs Simplicity</a>

				<li> Flux Insights <a href="https://gumroad.com/l/visualebook"> 143 Visuals to inspire you to take action</a>

				<li> Sketchnote Army <a href="http://sketchnotearmy.com/blog/2014/6/25/cssconf-sketchnote-susan-lin.html"> CSSconf</a>

				<li> Sketchnote Army <a href="http://sketchnotearmy.com/blog/2013/4/2/interaction-2013-sketchnotes.html">Interaction 2013</a>

			</ul>
			<ul>

				Writing

				<li> Betwixt: League of Kind and Kindred <a href="http://betwixt.is/the-league-of-kind-and-kindred/yes-and-yes-and-yes-and-yes">On saying 'Yes!' to everything</a><br>
			
			</ul>
			<ul>

				Panels

				<li> #DesignTalk <a href="http://padlet.com/norisjavier/designtalk"> Virtual Panel about design, creativity, &amp; collaboration</a>

			</ul>

			<h3> Work History </h3>
			<p>
				For my full work history, see the <a href="/SusanLin-resume.pdf">pretty PDF resume.</a>
			</p>

			<h3>Contact</h3>

			<p>
				Say hi <a href="http://twitter.com/bysusanlin">@bysusanlin.</a> I do not want to join your start-up. I will consider new art projects. I value my time making things over answering emails: bysusanlin at gmail. &#10052;
			</p>

		</div> <!-- about -->

	</div> <!-- content -->

{% include '_tpls/mobnav.html' %}
{% include '_tpls/footer.html' %}
