{% include '_tpls/header.html' %}
{% include '_tpls/nav.html' %}


	<div id="content">

		<div class="about">			

			<img src="../images/bysusanlin-work.jpg">

			<h3>
				Work
			</h3>

			<p>
				These are some of my favorite things. For a formal work history: <a href="/SusanLin-resume.pdf">PDF resume.</a> For stream of what I'm doing lately: <a href="http://sketch.bysusanlin.com">blog.</a>
			</p>

			<h5> Design </h5>

			<ul>

				<li> 
					<img src="../images/work/trulia-styleguide.png">
					<p>
						Trulia CSS styleguide. I worked with the core Experience Language team. We decided and created our own internal Bootstrap to address UX and Visual design inconsistencies across our products. The original CSS library was built with <a href="http://www.stubbornella.org/content/2013/06/05/creating-living-style-guides-to-improve-performance/">Nicole Sullivan</a> and team.
					</p>
					<br>
				
				<li> 
					<img src="../images/work/trulia-css.gif">
					<p>
						Trulia experience design.  With the library, it was easy for both developers and designers to prototype pages quickly using OOCSS. The Design to Engineering process radically changed. <a href="http://bysusanlin.com/talks">See my talk about how the process changed.</a>
					</p>
					<br>

				<li> 
					<a href="http://bysusanlin.com/library">
						<img src="../images/work/library.png">
					<p>
						Library.</a> The Librarian is a site that helps me keep track of the books I own. It is powered by a Google spreadsheet.
					</p>
					<br>

				<li>
					<a href="http://daily.bysusanlin.com">
					<img src="../images/work/daily.png">
					<p> Daily.</a> Daily is a stream page of RSS feeds I frequent. It's set as my homepage when starting up my browser. The project was designed from <a href="http://instagram.com/p/r35yvby49T/?modal=true">a sketch</a> and then built right in the code.
					</p>
					<br>

				<li> 
					<img src="../images/work/sociallist-list.png">
					<p>
						Sociallist. A productivity app inspired by source control. The idea was the provide a beautiful writing experience with the ability to turn any line into an action item. 
					</p>
					<br>

			</ul>

			<hr>
			<br>
				
				<h5> Articles </h5>

				<ul>

					<li> 
						<img src="../images/work/medium.png">

					<li>
						Watercolor slides for design talk <a href="https://medium.com/@ienjoy/designing-while-shipping-1ed17f9200ca">Designing while Shipping</a>

					<li> 
						Featured post on Medium 
						<a href="https://twitter.com/Medium/status/507981746038509568">The 1000th Cut</a>
				
					<li>
						Public letter writing series 
						<a href="http://betwixt.is/the-league-of-kind-and-kindred/yes-and-yes-and-yes-and-yes">On saying 'Yes!' to everything</a><br>

				</ul>

			<hr>
			<br>
			
			<h5> Sketchnotes </h5>

			<ul>

				<li>
					<a href="http://sketch.bysusanlin.com/tagged/sketchnotes">
					<img src="../images/work/sketchnotes.jpg"> </a>
					<p> I've been sketchnoting for 3 years. <a href="http://sketch.bysusanlin.com/tagged/sketchnotes">View the archive.</a> </p>

				<li>
					Sketchnotes featured around the web &mdash;

				<li> 
					Accel Partners Blog
					<a href="http://theaccelblog.squarespace.com/?tag=Accel+Design+Conference">Accel Design Conf</a>
				
				<li> 
					Asana Town Hall 
					<a href="http://blog.asana.com/2012/11/design-town-hall/">Skeumorphism vs Simplicity</a>

				<li> 
					Flux Insights 
					<a href="https://gumroad.com/l/visualebook"> 143 Visuals to inspire you to take action</a>

				<li> 
					Sketchnote Army 
					<a href="http://sketchnotearmy.com/blog/2014/6/25/cssconf-sketchnote-susan-lin.html"> CSSconf</a> &amp;
					<a href="http://sketchnotearmy.com/blog/2013/4/2/interaction-2013-sketchnotes.html">Interaction 2013</a>

			</ul>

			<hr>
			<br>

			<h5> Old work that's interesting </h5>

			<ul>

				<li>
					<img src="../images/work/nasa.png">
					<p> 
						Awhile back, I interned with NASA. I illustrated art for 2 games <a href="http://jwst.nasa.gov/scope.html">Scope it out!</a> and <a href="http://jwst.nasa.gov/build.html"> Build It Yourself: Satellite!</a> Print designs were spotted on the set of The Big Bang Theory!
					</p>
					<br>

				<li>
					<img src="../images/work/raincat.gif">
					<p>
						I made indie games in college. The best of the bunch was <a href="http://bysusanlin.com/raincat/">Raincat.</a>
					</p>

			</ul>

			<hr>
			<br>

			<p>
				Say hi <a href="http://twitter.com/bysusanlin">@bysusanlin.</a> I do not want to join your start-up. I will consider illustration commissions. And remember, I value my time making things over answering emails: bysusanlin at gmail. &#10052;
			</p>

		</div> <!-- about -->

	</div> <!-- content -->

{% include '_tpls/mobnav.html' %}
{% include '_tpls/footer.html' %}
