{% include '_tpls/head.html' %}

	<title>Susan &times; Sketchnotes</title>

</head>

<body>

	<div class="container">

		{% include '_tpls/header.html' %}

		<div class="intro">

			<h2> Sketchnotes </h2>

			<p>
					Hire me to sketchnote your event. I can effectively sketchnote topics in User Experience, Design Process, and Front-end Engineering.
			</p>

			<p>
				My terms: <br>
				<ul>
					<li>
						A ticket to your event.
					</li>
					<li>
						Travel and hotel covered, if applicable.
					</li>
					<li>
						Market freelance rate paid by the hour. Expect to cover hours preparing the set-up, time spent drawing talks, and post-processing.
					</li>
					<li>
						If your event is not-for-profit and a cause I believe in, we can work something out.
					</li>
				</ul>
			</p>

			<p>
				The works: <br>
				<ul>
					<li>
						You may promote your event with an official sketchnoter.
					</li>
					<li>
						I draw in realtime, so you can live-tweet them during the conference.
					</li>
					<li>
						You will receive high-resolution sketchnotes images to share for present and future events.
					</li>
					<li>
						I will cross-promote from my personal accounts before, during, and after the event.
					</li>
					<li>
						(Optional) Gift sketchnotes to your speakers! Cover the cost of the paper and I'll draw on those. I can consult on frames and gift presentation.
					</li>
				</ul>
			</p>

			<br>

			<p>
				Sound good? Get in touch: <a href="">bysusanlin.@gmail.com</a>
			</p>

		</div>

		<div>

			<a href="http://sketch.bysusanlin.com/tagged/sketchnotes">
				<img src="/images/work/sketchnotes.jpg">
			</a>

			<h2> Featured </h2>
			<p>
				Previously I've sketched AlterConf (paid!), XOXOfest, CSSconf, Interaction, and various local events. <a href="http://sketch.bysusanlin.com/tagged/sketchnotes"> Check out the full archive.</a>

				<br><br>

				Featured around the web:
				<li>
					CSSconf 2015 &mdash; <a href="https://2015.cssconf.com/#sketches">Sketches Gallery</a>
				</li>
				<li>
					AlterConf Portland &mdash; <a href="http://www.alterconf.com/sessions/portland-or">Community Involvement</a>
				</li>
				<li>
				Accel Partners Blog &mdash; <a href="http://theaccelblog.squarespace.com/?tag=Accel+Design+Conference">Accel Design Conf 2014 recap</a>
				</li>
				<li>
				Asana Town Hall &mdash; <a href="http://blog.asana.com/2012/11/design-town-hall/">Skeumorphism vs Simplicity</a>
				</li>
				<li>
				Flux Insights &mdash; <a href="https://gumroad.com/l/visualebook">143 Visuals to inspire you to take action</a>
				</li>
				<li>
				Sketchnote Army &mdash; <a href="http://sketchnotearmy.com/blog/2014/6/25/cssconf-sketchnote-susan-lin.html">CSSconf 2014</a> & <a href="http://sketchnotearmy.com/blog/2013/4/2/interaction-2013-sketchnotes.html">Interaction 2013</a>
				</li>
		</div>

	</div> <!-- sketchnotes -->

{% include '_tpls/nav.html' %}
{% include '_tpls/footer.html' %}
