{% include '_tpls/header.html' %}

	<title>Susan &times; Internet</title>

</head>

<body class="home">

	<div id="earthbounded" class="left">
		<!-- sprite here ^__^ -->
	</div>	

	<div id="ufo" class="">
		<!-- fly, fly away -->
	</div>

	<div id="onett">
		<div id="trees"></div>
	</div>

	<div id="saturn">
		<div id="valley"></div>
		<div id="distorter" class="phased1"></div>
	</div>	

	<div id="pinkcloud">
		<div id="clouds"></div>
	</div>	

	<div id="moonside">
		<div id="ending" class=""></div>
	</div>

{% include '_tpls/nav.html' %}
{% include '_tpls/footer.js.html' %}