{% include '_tpls/head.html' %}

	<title>Susan &times; Internet</title>

</head>

<body class="home">

	<div class="container">
		{% include '_tpls/header.html' %}
	</div>

	<div id="earthbounded" class="left">
		<!-- sprite here ^__^ -->
	</div>

	<div id="ufo" class="">
		<!-- fly, fly away -->
	</div>

	<div id="onett">
		<div id="trees"></div>
	</div>

	<div id="saturn">
		<div id="valley"></div>
		<div id="distorter" class="phased1"></div>
	</div>

	<div id="pinkcloud">
		<div id="clouds"></div>
	</div>

	<div id="moonside">
		<div id="ending"></div>
	</div>

{% include '_tpls/index-js.html' %}
{% include '_tpls/footer.html' %}
